body {
	padding: 0px;
	margin: 0px;
}
* {
	-moz-user-select: none;
	/*���*/
	
	-webkit-user-select: none;
	/*webkit�����*/
	
	-ms-user-select: none;
	/*IE10*/
	
	-khtml-user-select: none;
	/*���������*/
	
	user-select: none;
	text-shadow: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*��ҳ�ײ�*/

.bottom {
	width: 100%;
}
.ui-navbar {
	height: 100%;
}
.bottomNav {
	width: 100%;
}
.bottomNav ul {
	height: 100%;
}
.bottomNav li {
	height: 100%;
}
.bottomNav a {
	padding: 0;
}
.showframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow:hidden;
	display: none;
}
.newshowframe {
	width: 100%;
	height: 100%;
	overflow:hidden;
	border: none;
}
.ui-btn-active {
	background-color: #CC0033 !important;
	border-color: #CC0033 !important;
}
.newwin {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1000;
	height: 100%;
	opacity: 0;
	overflow:hidden;
	display: none;
}
.nvbarclass {
	width: 100%;
}
.nvbarclass ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	border: 0;
	max-width: 100%;
	overflow: visible;
}
.nvbarclass ul li {
	width: 25%;
	float: left;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	background-color:#f4f4f4;
}
.nvbarclass ul li .navbar-btn {
	color: black;
	font-size: 13px;
	display: block;
	margin: 0;
	height: 100% !important;
	line-height: 50px;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.nvbarclass ul li:last-child .navbar-btn {
	border-right: 1px solid #CCCCCC;
}
.navbar-btn-active {
	color: white !important;
	border-top: 1px solid #424458 !important;
	border-left: 1px solid #424458 !important;
	border-bottom: 1px solid #424458 !important;
	background-color: #3C3C3C;
}
/*��������*/

.form_div {
	width: 100%;
	border-color: white;
	margin: 0px auto;
	padding: 0px;
}
.form_div li {
	height: 45px;
	width: 100%;
	background-color: #ffffff;
	border-top: 1px solid #d0d0d0;
	border-bottom: 0;
	list-style-type: none;
	margin: 0px;
}
.form_div li:last-child {
	border-bottom: 1px solid #d0d0d0;
}
.form_div li:first-child {} .form_div_big {
	width: 100%;
	border-color: white;
	margin: 0px auto;
	padding: 0px;
}
.form_div_big li {
	height: 55px;
	width: 100%;
	border-top: 0;
	border-bottom: 1px solid #d0d0d0;
	list-style-type: none;
	margin: 0px;
	/*display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;*/
	
	border-bottom: 1px solid #d0d0d0;
}
.clearmarginpadding {
	margin: 0px;
	padding: 0px;
}
.form_div_big li:last-child {
	border-bottom: 1px solid #d0d0d0;
}
.form_div_big li:first-child {} .top {
	text-shadow: none !important;
	color: white;
	line-height: 50px;
	text-align: center;
	height: 50px;
	width: 100%;
	background-color: #FF6317;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.czjz {
	text-shadow: none !important;
	color: white;
	line-height: 60px;
	text-align: center;
	height: 60px;
	width: 100%;
	background-color: #CC0033;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.back_ic {
	height: 24px;
	width: 83px;
	position: absolute;
	left: 10px;
	/*top: 17px;
	background-size: 100% 100%;
	background-image: url("../img/Back.png");*/
}
a {
	color: #ffffff;
	text-decoration: none;
}
a:hover,
a:visited,
a:active {
	color: #ffffff;
	text-decoration: none;
}
.top_title {
	margin: auto;
	font-size: 20px;
}
ul {
	margin: 0px;
}
.bot_btn {
	text-shadow: none !important;
	width: 80%;
	text-align: center;
	height: 45px;
	line-height: 45px;
	color: #ffffff;
	font-size: 20px;
	margin: 30px auto;
	background-color: #cc0033;
}
/*��������*/

@keyframes maskShow {
	from {
		opacity: 1;
		transform: translateY(150px);
		-webkit-transform: translateY(150px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
}
@-webkit-keyframes maskShow {
	from {
		opacity: 1;
		transform: translateY(150px);
		-webkit-transform: translateY(150px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
}
/*�������Ͻ���*/

.smask {
	animation: maskShow 300ms;
	-webkit-animation: maskShow 300ms;
}
@keyframes maskhide {
	from {
		opacity: 1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
	to {
		opacity: 0;
		transform: translateY(50px);
		-webkit-transform: translateY(50px);
	}
}
@-webkit-keyframes maskhide {
	from {
		opacity: 1;
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
	to {
		opacity: 0;
		transform: translateY(50px);
		-webkit-transform: translateY(50px);
	}
}
/*����������ʧ*/

.hmask {
	animation: maskhide 500ms;
	-webkit-animation: maskhide 500ms;
}
@keyframes lfade {
	from {
		opacity: 1;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
		-webkit-transform: translateX(0);
	}
}
@-webkit-keyframes lfade {
	from {
		opacity: 1;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
		-webkit-transform: translateX(0);
	}
}
/*�����������*/

.slfade {
	animation: lfade 500ms;
	-webkit-animation: lfade 500ms;
}
@keyframes rfade {
	from {
		opacity: 1;
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
	}
	to {
		opacity: 1;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
}
@-webkit-keyframes rfade {
	from {
		opacity: 1;
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
	}
	to {
		opacity: 1;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
	}
}
/*����������ʧ*/

.srfade {
	animation: rfade 500ms;
	-webkit-animation: rfade 500ms;
}
.container-fluid,
.row,
.row-fluid {
	margin: 0;
	padding: 0;
}
.inp_label {
	width: 110px;
	line-height: 45px;
	color: #000000;
	font-size: 17px;
	text-align: left;
	float: left;
	margin-left: 15px;
}
.inp_show_text {
	width: 110px;
	line-height: 45px;
	color: #8e8e8e;
	font-size: 15px;
	text-align: left;
	float: left;
	margin-left: 10px;
}
.inp_text {
	border: 0 !important;
	background: none !important;
	box-shadow: none !important;
	height: 35px !important;
	color: #8e8e8e !important;
	width: 60% !important;
	font-size: 15px;
}
.inp_text_date {
	border: 0 !important;
	background: none !important;
	box-shadow: none !important;
	height: 35px !important;
	color: #8e8e8e !important;
	width: 60% !important;
	font-size: 15px;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
.rgt {
	width: 10px;
	height: 18px;
	float: right;
	margin-right: 20px;
	margin-top: 12px;
	background-size: 100% 100%;
	background-image: url("img/right.png");
}
.yes {
	width: 25px;
	height: 18px;
	float: right;
	margin-right: 20px;
	margin-top: 12px;
	background-size: 100% 100%;
	background-image: url("img/sanxia/yes.png");
}
.content {
	width: 100%;
	overflow: auto;
}
.slick-dots {
	bottom: -8px;
}
.slick-dots li {
	width: 33.3%;
	height: 4px;
	margin: 0px;
}
.slick-active {
	width: 33.3%;
	height: 4px;
	background-color: red;
}
.slick-dots li button:before {
	content: none;
}
.menu_table td {
	text-align: center;
	height: 120px;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #e4e4e4;
}
.menu_table td img {
	width: 90px;
	height: 105px;
}
.showdowline {
	margin-top: -32px;
	width: 100%;
	height: 15px;
	background-size: 100% 100%;
	background-image: url('img/sanxia/adv_show.png');
}
.menu_table {
	margin-top: -33px;
	width: 100%;
}
.slick_div {
	width: 100%;
	position: relative;
}
.slick_div img {
	width: 100%;
	top: -6px;
	position: relative;
	height: 180px;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
.li_left {
	line-height: 55px;
	width: 70%;
	padding-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.form_div_big img {
	width: 30px;
	height: 30px;
	margin-top: 12px;
	float: left;
	margin-left: 15px;
}
.title_input {
	height: 35px;
	width: 100%;
	line-height: 35px;
	border: 0 !important;
	box-shadow: none !important;
	font-size: 18px;
	border-radius: 5px;
	color: #000000;
	outline: none;
	background-image: url(img/sanxia/Search.png);
	background-repeat: no-repeat;
	background-position-x: 7px;
	background-position-y: 7px;
	padding-left: 34px;
	background-size: 20px 20px;
}
input:focus {
	border: 0 !important;
	box-shadow: none !important;
}
input{
	 -moz-user-select: text;
	/*���*/
	
	-webkit-user-select: text;
	/*webkit�����*/
	
	-ms-user-select: text;
	/*IE10*/
	
	-khtml-user-select: text;
	/*���������*/
	
	user-select: text;
}
textarea{
	 -moz-user-select: text;
	/*���*/
	
	-webkit-user-select: text;
	/*webkit�����*/
	
	-ms-user-select: text;
	/*IE10*/
	
	-khtml-user-select: text;
	/*���������*/
	
	user-select: text;
}
.content {
	width: 100%;
	overflow: hidden;
}
.deleteBtn {
	width: 70px;
	height: 56px;
	margin-top: -56px;
	background-color: lightcoral;
	float: right;
	text-align: center;
	line-height: 55px;
	font-size: 18px;
	color: white;
	margin-right: -70px;
}
/****** ����ˢ�¡��������ظ�����ʽ********/

#pulldown,
#pullup {
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding: 5px 10px;
	/*border-bottom: 1px solid #ccc;*/
	
	font-weight: bold;
	font-size: 14px;
	color: #888;
}
#pulldown .pulldown-icon,
#pullup .pullup-icon {
	display: block;
	/*float: left;*/
	
	width: 40px;
	height: 40px;
	background: url(img/sanxia/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 40px 80px;
	background-size: 40px 80px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
}
#pulldown .pulldown-icon {
	-webkit-transform: rotate(0deg) translateZ(0);
}
#pullup .pullup-icon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}
#pulldown.flip .pulldown-icon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}
#pullup.flip .pullup-icon {
	-webkit-transform: rotate(0deg) translateZ(0);
}
#pulldown.loading .pulldown-icon,
#pullup.loading .pullup-icon {
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
#pulldown-label,
#pullup-label {
	display: block;
	margin-top: -40px;
	margin-left: 50px;
}
@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg) translateZ(0);
	}
	to {
		-webkit-transform: rotate(360deg) translateZ(0);
	}
}

/*--add---*/
.container-fluid{padding-left:0;padding-right:0;}
.row{margin-left:0;margin-right:0;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left:0;padding-right:0;
}
.menu-nav{
	background:#f4f4f4;
	padding-top:5px;
	padding-bottom:5px;
	box-shadow: 0px 2px 8px #aaaaaa;
	position:relative;
	z-index:110;
}
.menu-nav span{
	display:block;
	font-size:14px;
	color:#7a7a7a;
	margin-top:4px;
}
#wrapper {
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}
#scroller {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.back_ic2{
	background-size: 100% 100%;
	background-image: url("../../../img/Back.png");
	width: 50px;
	height: 50px;
	margin-top: 0px;
	margin-left: -4px;
	float: left;
}
.back_ic3{
	float: left;
    margin-left: 8px;
    font-size: 18px;
    margin-top:1px;
}
.jrfwtxt{
	padding-left: 10px;
	color: #000;
	line-height: 30px;
	font-size: 16px;
}
.jrfwdiv{
	padding-top: 20px;
	padding-bottom: 5px;
}
.jrfwdiv2{background:#ffffff;margin-top:10px;}
.jrfwdiv2 li{
	height: 35px;
    width: 100%;
    border-top: 0;
    border-bottom: 1px solid #d0d0d0;
    list-style-type: none;
    margin: 0px;
    border-bottom: 1px solid #d0d0d0;
}
.li_left {
				line-height: 35px;
				float:left;
				padding-left:0px;
				font-size:18px;
				width:30%;
}
.jrfwdiv2 img{
	width: 20px;
				height: 20px;
				float: left;
				margin-top: 6px;
				margin-left: 10px;
				margin-right: 2px;
}
.rgt {
				width: 10px;
				height: 18px;
				float: right;
				margin-right: 20px;
				margin-top: 16px;
				background-size: 100% 100%;
				background-image: url("../../../img/right.png");
}
.menubottomtxt{
	color: #1867db;
    font-size: 20px;
    padding-left: 10px;
    line-height: 40px;
}
.wangdiandiv{
	position:relative;z-index:10;box-shadow: 0px -2px 8px #aaaaaa;
}
.wydkbtn{
	width:75%;margin-left:5%;margin-right:5%;background:#4C4C4C;border-color:#4C4C4C;color:#FFBB10;
}
.wydkbtn-active{
	background:#2894FF;border-color:#2894FF;
}
.wydkbtndiv{
	padding:15px 0;border-bottom: 1px solid #f0f0f0;background:#ffffff;
}
.wydkgerendiv{
	border-top:1px solid #f0f0f0;
}
