.imitateView{
	position: absolute;
	width: 800px;
	height: 600px;
	/*background-color: red;*/
}
div{
	font-family: "Microsoft YaHei UI";
	text-shadow: none;
}
.layout{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.menuBar1{
	width: 60px;
	background-color: black;
	padding-top: 20px;
	/*background: url(../img/leftbar_bg.png);*/
}
.menuBar1 .item{
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
}
.menuBar1 .item div{
	color: white;
	font-size: 13px;
}
.menuBar2{
	width: 232px;
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #cecece;
}
.menuBar2 li{
	/*border-bottom: 1px solid #d0d0d0;
	border-top: 1px solid #ffffff;*/
	height: 40px;
	line-height: 40px;
}

.menuBar2 li .label{
	float: left;
	margin-left: 20px;
	font-size: 17px;
}
.menuBar2 li .arrow{
	float: right;
	width: 40px;
	height: 40px;
	background: url(../img/show.png) no-repeat center;
	background-size: 8px 13px;
}
.menuBar2 .line{
	height: 2px;
	background: url(../img/line.png) no-repeat center;
}
