.service{
	background: url(../../img/demo3/pic1.png);
	background-size: 100% 100%;
	height: 270px;
}

.outdoor{
	background: url(../../img/demo3/pic2.png);
	background-size: 100% 100%;
	height: 270px;
}

.qukuan{
	background: url(../../img/demo3/pic3.png);
	background-size: 100% 100%;
	height: 130px;
}

.site{
	background: url(../../img/demo3/pic4.png);
	background-size: 100% 100%;
	height: 130px;
}

.administer{
	background: url(../../img/demo3/pic5.png);
	background-size: 100% 100%;
	height: 270px;
}
.more{
	background: url(../../img/demo3/pic6.png);
	background-size: 100% 100%;
	height: 270px;
}



