/*消除闪屏*/
.ui-page {  
     backface-visibility : hidden ;  
     -webkit-backface- visibility : hidden ; /* Chrome and Safari */   
     -moz-backface- visibility : hidden ; /* Firefox */   
}

/*重写content的内边距*/
#mainPage .ui-content{
	padding: 0 ;
}

#fServicePage .ui-content{
	padding-right: 0;
	padding-left: 0;
}

#mcommunityPage .ui-content{
	padding-right: 0;
	padding-left: 0;
}


/*重写jqm body的背景色*/
.ui-body-c, .ui-overlay-c{
	background:linear-gradient(#F2F2F2, #F2F2F2) repeat scroll 0 0 #fff;
	background: #F2F2F2;
}

/*重写jqm listview 的li的背景色*/
#tBookPage .ui-btn-up-c,
#nNetdotContentPage .ui-btn-up-c,
#pManagePage .ui-btn-up-c,
#pBankLoginPage .ui-btn-up-c
{
	background-color: #FFFFFF;
}

#cShopsPage .ui-btn-up-c,
#nNetdotPage .ui-btn-up-c,
#contactusPage .ui-btn-up-c,
#fContentPage .ui-btn-up-c,
#fProductPage .ui-btn-up-c{
	background-color: #F2F2F2;
}


/*--------------------重写尾部栏----------------------------*/
.favourite .ui-icon {
    background: url("../images/favourite.png") transparent no-repeat ;
    background-size:24px 24px;

    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -12px !important;
    width: 30px !important;
}

.fservice .ui-icon {
    background: url("../images/fservice.png") transparent no-repeat ;
 	background-size:24px 24px;
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
	height: 30px !important;
    margin-left: -12px !important;
    width: 30px !important;
}

.pbank .ui-icon {
    background: url("../images/pbank.png") transparent no-repeat ;
 	background-size:24px 24px;
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
  	height: 30px !important;
    margin-left: -12px !important;
    width: 30px !important;
}

.mcommunity .ui-icon {
   background: url("../images/mcommunity.png") transparent no-repeat ;
 	background-size:24px 24px;
    border-radius: 0 0 0 0 !important;
    box-shadow: none !important;
  	height: 30px !important;
    margin-left: -12px !important;
    width: 30px !important;
}

.ui-footer .ui-btn-up-a{  
	border: 0;	/*重写尾部工具栏的边框为0*/
}

.ui-footer .ui-btn-inner{
	font-size: 10px;	/*重写尾部工具栏的字体为10*/
}

.ui-navbar li .ui-btn-icon-top .ui-btn-inner{
	padding-top: 30px;		/*重写尾部工具栏上边距为30（即字体和上边框之间的距离）*/
}

.ui-footer .ui-navbar li .ui-btn  .ui-btn-inner {
    padding-bottom: 2px;			/*重写尾部栏的下边距（字体和下边框的距离）*/
}

.ui-footer .ui-btn-icon-top .ui-icon{
	top:3px;
}

/*--------------------尾部栏按钮被选中的时候----------------------------*/
.ui-footer .ui-btn-active{
	/*重写尾部工具栏选中时候的背景色为不改变（和.ui-btn-up-a一样）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-bup-background-start}*/), to( #2D2D2D /*{a-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #444 /*{a-bup-background-start}*/, #2D2D2D /*{a-bup-background-end}*/);
}

.ui-footer .ui-btn-active .ui-btn-text{
	color: #3EB6EA;			/*重写尾部工具栏选中时候的字体颜色为*/
	text-shadow: none;
}

.favourite.ui-btn-active .ui-icon{
	background: url("../images/favourite-active.png") transparent no-repeat ;
	 background-size:24px 24px;
}
.fservice.ui-btn-active .ui-icon{
	background: url("../images/fservice-active.png") transparent no-repeat ;
	 background-size:24px 24px;
}
.pbank.ui-btn-active .ui-icon{
	background: url("../images/pbank-active.png") transparent no-repeat ;
	 background-size:24px 24px;
}
.mcommunity.ui-btn-active .ui-icon{
	background: url("../images/mcommunity-active.png") transparent no-repeat ;
	 background-size:24px 24px;
}

/*----------------------头部栏和尾部栏的背景------------------------------------*/
.ui-header.ui-bar-b{
	background: url("../images/header.png") repeat 0 0 scroll transparent;
	background-size: 100% 100%;
}

.ui-footer.ui-bar-a{
	background: url("../images/test2.png") repeat scroll transparent;
	background-size: auto 100%;
	border: 0;
}
.ui-footer .ui-btn-up-a{
	background:none transparent;
	background-image: none;
}

