#pManageContent ul{
	margin-top:0;	
}

#pManageContent ul li{
	height:40px;
	padding:2px 5px 2px 90px;
}

#pManageContent ul li .imgLeft{
	max-height: 37px;
	max-width: 37px;
	top: 3px;
	left:20px;
}

#pManageContent ul li p{
	font-size: 13px;
	line-height: 45px;
	height: 45px;
	margin: 0;
	padding: 0;
	font: 幼圆  bold;
	top:25px;
	/*position: absolute;*/
}

#pManageContent .ui-li-icon-right{
	position: absolute;
	top: 13px;
	right:15px;
	max-height: 17px;
	max-width: 17px;
}

.back{
	height: 26px;
	position: absolute;
	top:2px;
}
