.userInfo{
	background: url(../../img/demo2/pic1.png);
	background-size: 100% 100%;
	height: 270px;
}


.credit{
	background: url(../../img/demo2/pic2.png);
	background-size: 100% 100%;
	height: 270px;
}

.dhchange{
	background: url(../../img/demo2/pic3.png);
	background-size: 100% 100%;
	height: 270px;
}

.metal{
	background: url(../../img/demo2/pic4.png);
	background-size: 100% 100%;
	height: 130px;
}

.account{
	background: url(../../img/demo2/pic5.png);
	background-size: 100% 100%;
	height: 130px;
}

.lccp{
	background: url(../../img/demo2/pic6.png);
	background-size: 100% 100%;
	height: 270px;
}

.foundation{
	background: url(../../img/demo2/pic7.png);
	background-size: 100% 100%;
	height: 270px;
}


.hnzz{
	background: url(../../img/demo2/pic8.png);
	background-size: 100% 100%;
	height: 270px;
}

